# NEXT_PUBLIC_STRAPI_GRAPHQL_URL=http://localhost:1337/graphql
# NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
# NEXT_PUBLIC_PAGE_LIMIT=7
# NEXT_PUBLIC_APP_URL=http://localhost:3000
# MONGODB_URI=
# JWT_SECRET=
# JWT_EXPIRES_IN=
# AUTH0_SECRET=
# AUTH0_BASE_URL=
# AUTH0_ISSUER_BASE_URL=
# AUTH0_CLIENT_ID=
# AUTH0_CLIENT_SECRET=
# AUTH0_AUDIENCE=
# AUTH0_SCOPE=
# RESEND_API_KEY=
# ADMIN_EMAIL=
# AUTH0_WEBHOOK_SECRET=