# NEXT_PUBLIC_APP_URL=http://localhost:3000
# MONGODB_URI=mongodb+srv:
# AUTH0_SECRET= #openssl rand -hex 32
# AUTH0_BASE_URL=http://localhost:3000
# AUTH0_ISSUER_BASE_URL=
# AUTH0_CLIENT_ID=
# AUTH0_CLIENT_SECRET=
# AUTH0_SCOPE=
# RESEND_API_KEY=
# ADMIN_EMAIL=
# AUTH0_WEBHOOK_SECRET=
# SESSION_SECRET=
# SANITY_API_TOKEN=  # Sanity write token
# NEXT_PUBLIC_SANITY_PROJECT_ID=
# NEXT_PUBLIC_SANITY_DATASET=